Presentation/Api/obj/Kharaei.Api.csproj.nuget.dgspec.json
Presentation/Api/obj/project.nuget.cache
Presentation/Api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Presentation/Api/obj/Debug/net5.0/Kharaei.Api.AssemblyInfo.cs
Presentation/Api/obj/Debug/net5.0/Kharaei.Api.AssemblyInfoInputs.cache
Presentation/Api/obj/Debug/net5.0/Kharaei.Api.csproj.AssemblyReference.cache
Presentation/Api/obj/Debug/net5.0/Kharaei.Api.GeneratedMSBuildEditorConfig.editorconfig
Presentation/Api/obj/Debug/net5.0/Kharaei.Api.GlobalUsings.g.cs
Presentation/Api/obj/Debug/net5.0/project.razor.json
Presentation/Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Presentation/Api/obj/Debug/net6.0/Kharaei.Api.AssemblyInfo.cs
Presentation/Api/obj/Debug/net6.0/Kharaei.Api.AssemblyInfoInputs.cache
Presentation/Api/obj/Debug/net6.0/Kharaei.Api.GeneratedMSBuildEditorConfig.editorconfig
Presentation/Api/obj/Debug/net6.0/Kharaei.Api.GlobalUsings.g.cs
Presentation/Api/obj/Debug/net6.0/project.razor.json
Presentation/Api/obj/Debug/net7.0/Kharaei.Api.assets.cache
Presentation/Api/obj/Debug/net7.0/Kharaei.Api.GeneratedMSBuildEditorConfig.editorconfig
Presentation/Api/obj/Debug/net7.0/project.razor.json
Infrastructure/Ioc/obj/Kharaei.Infra.Ioc.csproj.nuget.dgspec.json
Infrastructure/Ioc/obj/Kharaei.Infra.Ioc.csproj.nuget.g.props
Infrastructure/Ioc/obj/Kharaei.Infra.Ioc.csproj.nuget.g.targets
Infrastructure/Ioc/obj/project.assets.json
Infrastructure/Ioc/obj/project.nuget.cache
Infrastructure/Ioc/obj/Debug/net7.0/Kharaei.Infra.Ioc.assets.cache
Infrastructure/Ioc/obj/Debug/net7.0/Kharaei.Infra.Ioc.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/Data/obj/Kharaei.Infra.Data.csproj.nuget.dgspec.json
Infrastructure/Data/obj/Kharaei.Infra.Data.csproj.nuget.g.props
Infrastructure/Data/obj/Kharaei.Infra.Data.csproj.nuget.g.targets
Infrastructure/Data/obj/project.assets.json
Infrastructure/Data/obj/project.nuget.cache
Infrastructure/Data/obj/Debug/net7.0/Kharaei.Infra.Data.assets.cache
